<h3 class="text-info">Menu Items</h3>
<table class="table table-responsive" ng-if="list.items.length>0">
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr ng-repeat='item in list.items'>
    <td>{{item.name}}</td>
    <td>{{item.short_name}}</td>
    <td>{{item.description}}</td>
    <td>
      <button class="btn btn-danger" ng-click="list.onRemove({index:$index})">Don't want this one!</button>
    </td>
  </tr>
</table>
<div ng-transclude></div>
